@{

    Layout = "~/Views/Shared/_crudLayout.cshtml";
}


<br />
<br />
<br />
<div class="align-content-center">
    <div class="text-center text-success">
        <h3>Thank you for sharing your testimonial with us. Your feedback is important. We have received it and will notify our administrators for review. We appreciate your contribution.!</h3>
    </div>
    <br />
   
</div>
<br />
<br />
<br />