@{

    Layout = "~/Views/Shared/_crudLayout.cshtml";
}


<br />
<br />
<br />
<div class="align-content-center">
    <div class="text-center text-success">
        <h3>The testimonial review is complete.!</h3>
    </div>
    <br />

</div>
<br />
<br />
<br />
