@model TRAFFIC2.Models.Image

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HomePageId" class="control-label"></label>
                <input asp-for="HomePageId" class="form-control" />
                <span asp-validation-for="HomePageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile1" class="control-label"></label>
                <input asp-for="ImageFile1" class="form-control" />
                <span asp-validation-for="ImagePath1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile2" class="control-label"></label>
                <input asp-for="ImageFile2" class="form-control" />
                <span asp-validation-for="ImageFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile3" class="control-label"></label>
                <input asp-for="ImageFile3" class="form-control" />
                <span asp-validation-for="ImageFile3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile4" class="control-label"></label>
                <input asp-for="ImageFile4" class="form-control" />
                <span asp-validation-for="ImageFile4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

