@model TRAFFIC2.Models.HomePage

@{

    Layout = "~/Views/Shared/_crudLayout.cshtml";
}

<h1>Create</h1>

<h4>HomePage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageId" class="control-label"></label>
                <select asp-for="ImageId" class ="form-control" asp-items="ViewBag.ImageId"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutId" class="control-label"></label>
                <select asp-for="AboutId" class ="form-control" asp-items="ViewBag.AboutId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContactId" class="control-label"></label>
                <select asp-for="ContactId" class ="form-control" asp-items="ViewBag.ContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestimonialId" class="control-label"></label>
                <select asp-for="TestimonialId" class ="form-control" asp-items="ViewBag.TestimonialId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

